# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.sqlite3

# Node / Vite
node_modules/
dist/
dist-ssr/
*.local

# Environment
.env

# IDE
.vscode/
.idea/
.DS_Store
*.log
staticfiles/
